/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27.feb.2017, 12:48:45
    Author     : Marthejansonskogen
*/
body {
    /*height: 100%;*/
    font-family: "Asap", sans-serif;
    font-size: 40px;
    padding-bottom: 140px;
    padding-top: 110px;
}
h1 {
    font-size:
        45px;
}
/*html, body {
    overflow: hidden;
}

ul {
    padding-top: 10px;
    overflow: auto;
    height: 1000px;
    max-height: 100%;
}*/



.container-fluid {
    width: 95%;
}

.top-menu {
    position: fixed;
    width: 100%;
}

.navbar-fixed-top {
    background: #E6E6E6;
    vertical-align: middle;
    height: 128px;
    border-bottom: 1px solid #777777;
    z-index: 100;
}


.navbar-fixed-bottom {
    border-top: 1px solid #777777;
}

.navbar-header {
    float: none;
    background: #E6E6E6;
}
.rotate-line {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg);
}

.viewTab {
    position: fixed;
    width: 260px;
    margin-left: -130px;
    left: 50%;
    background: #E6E6E6;
    vertical-align: middle;
    height: 106px;
    border: 1px solid #777777;
    border-radius: 0 0 25px 25px;
    z-index: 99;
    padding: 5px 0 0 5px;
}

.viewTab img {
    width: 80px;
}

.minimize-space {
    margin-left: -28px;
    margin-right: -20px;
}
.glyphicon{
    /*position: relative;
    top: 7px;
    //bottom: 6px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    float: right;
    margin-right: 28px;
    font-size: 80px;*/
}

.glyph-menu {
    position: relative;
    top: 7px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    float: right;
    margin-right: 28px;
    font-size: 80px;
}

ul {

}

li  {
    margin-top: 10px;
    list-style: none;
}

.menu-txt {
    line-height: 3em;
    text-align: center;
}
.menu-txt a {
    color: #D1A25F;
}
.cl-sm-4 {
    text-align: center;
}

.menu-bottom-cl {
    text-align: center;
    height: 100%;
    display: inline-block;
}


.menu-bottom-cl > .btn {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.menu-bottom-cl > .btn:active {
   color: #3e8e41;
   transform: translateY(4px);
   outline:none;
}

.infotab {
    width: 33%;
    padding-top: 10px;
}

.image-container {
    float: left;
}

.info-box-container {
    float:left;
    width: 100%;
    min-height: 190px;
    position: relative;
    display: table;

}
.info-box-container .names {
    display: table-row;
}
.info-box-container .positions {
    display: table-cell;
    vertical-align: bottom;
}
.info-box-container p {
    margin-right: 10px;
    text-transform: capitalize;
    /*position:absolute;
    bottom:0;*/
    float: right;
    font-size: 35px;
}
.list-group {
    margin-bottom: 21px;
}

.list-group-item {
    margin-top: 20px;
    float: left;
    width: 100%;
    font-size: 30px;

    -webkit-box-shadow: 1px 5px 9px #e3e3e3;
    -moz-box-shadow: 1px 5px 9px #e3e3e3;
    box-shadow: 5px 5px 9px #e3e3e3;
}

.list-group-item h4 {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 10px;
    float: left;
}

/*a {
    font-size: 50px;
}*/

.center-block {
    text-align: center;
    font-size: 50px;
    margin-bottom: -121px;
}


.grid-view {
    padding-top: 40px;
    margin-top: 21px;
}
.nav-brand {
    line-height: 2.4em;
}

/*.media-body {

    width: auto;
    font-size: 23px;
}*/
.firstName {
    font-size: 20px;
}

.media {

    zoom: 2;
    margin-bottom: 15px;
}

.mark {
    width: 100%;
    background-color: white;
    opacity: 0.5;
    z-index: 1;
}

.mark-grid-element {
    background-color: white;
    opacity: 0.5;
    z-index: 1;

}

.login {
    padding-top: 400px;
}

.form-control {
    height: 100px;
    font-size: 50px;        
}
.center {
    text-align: center;
}
::-webkit-input-placeholder {
    /*font-size: 25px;*/

}



input {
    outline: none;

}
input[type=search] {
    -webkit-appearance: textfield;
    text-indent: 15%;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input[type=search]::-webkit-search-cancel-button {
    
    /*-webkit-appearance: searchfield-cancel-button;*/
    height: 40px;
    width: 40px;
    background-image: url("https://cdn2.iconfinder.com/data/icons/simple-microphone-icon/512/Cancel_Icon-48.png");
    display: inline-block;
    z-index: 300;
    position: relative;
}

input[type=search] {
    float: right;
    background: #E6E6E6 url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png) no-repeat -12px center;
    border: solid 1px #E6E6E6;
    padding: 25px 25px 25px 25px;
    width: 45px;

    /*-webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;*/

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 80%;
    background-color: #fff;
    border-color: #66CC75;

    -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
    -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
    box-shadow: 0 0 5px rgba(109,207,246,.5);
    z-index: 200;
    position: relative;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
}

input:-moz-placeholder {
    color: #999;
}
input::-webkit-input-placeholder {
    color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
    color: transparent;
    cursor: pointer;
}
#demo-2 input[type=search]:hover {
    background-color: #fff;
}
#demo-2 input[type=search]:focus {

    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto;
}
#demo-2 input:-moz-placeholder {
    color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}

.filter {
    position: relative;
    top: 7px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    float: right;
    margin-right: 28px;
    font-size: 80px;
}

.filter-menu img {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.search-icon img {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
.profile-box {
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    padding: 10px;
    margin-top: 55px;
}
.my-profile-box {
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    padding: 10px;
    margin-top: 55px;
}
.profile-box p{
    text-transform: capitalize;
}
.profile-box .col-sm-8, .my-profile-box .col-sm-4, .my-profile-box .col-sm-6 {
    vertical-align: middle;
    display: inline-block;
    /* height: 100px; */
    line-height: 3.2em;
}
.profile-info {
    padding-bottom: 20px;
}
.profile-name {
    font-size: 50px;
    font-weight: 600;
}
.profile-position {
    font-size: 43px;
}
.profile-company {
    font-size: 43px;
}
.profile-textarea-header {
    margin-left: 20px;
    margin-top: 25px;
    font-weight: 600;
}

.textarea-readonly {
    margin: 10px;
    padding: 10px;
    overflow: scroll;
    max-height: 300px;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}
.profile-contact-info {
    padding-top: 50px;
}

.icons-menu-bottom {
    font-size: 113px !important;
}

.login-icons {
    line-height: 2.5em;
}
.main-btn {
    width: 300px;
    height: 80px;
    font-size: 40px;
}
.full-btn {
    width: 100%;
    height: 100px;
}
.login-row {
    text-align: center;
    margin-top: 100px;
}

.mark-dropimg{
    width: 50%;
}

.mark-dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.mark-dropdown {
    position: relative;
    display: inline-block;
}

.mark-dropdown-content {
    display: none;
    margin-left: -173px;
    margin-top: 8px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 403px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 300;
}

.mark-dropdown-element {
    color: black;
    padding: 12px 16px;
    text-align: left;
    z-index: 300;
}
/*.during-scroll {
    opacity: 0.2;

}*/

.filter-box {
    margin-top: 25px;
}

.filter-box input[type="checkbox"] {
    zoom: 6;
}

.filter-box select {
    font-size: 40px;
}

.filter-box option {
    font-size: 40px;
    zoom: 1;
    min-height: 0em;
}
.margin-top {
    margin-top: 20px;
}
.filter-box .filter-title {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}
.btn-group {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.btn-group-lg>.btn {
    padding: 20px 32px;
    font-size: 40px;
    line-height: 2.6666666;
    border-radius: 0px;
}
.btn-group-lg>.sort-option {
    width: 275px;
    background: white;
    color: #777;
    border-color: #e3e3e3;
 
}

.btn-group-lg>.btn-sort {
    margin-right: 30px;
}
.btn-group>.btn>.sort-option:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.btn-group>.btn>.sort-option:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group-lg>.btn-long {
    width: 400px;
}
.btnPrimary {
    color: #fff;
    background-image: -webkit-linear-gradient(top,#D1A25F 0,#a57c41 100%);
    background-image: -o-linear-gradient(top,#D1A25F 0,#a57c41 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#D1A25F),to(#a57c41));
    background-image: linear-gradient(to bottom,#D1A25F 0,#a57c41 100%);
    border-color: #b18545;
}
.btnPrimary:hover, .btnPrimary:focus, .btnPrimary:active {
    color: #fff;
    background-color: #D1A25F;
    border-color: #b18545;
    background-position: 0 0px;
}
.filter-box .selected {
    color: #D0A164;
    border: 1px solid #D0A164;
}

.filter-submit {
    background-color: #D1A25F;
    color: white;
    font-size: 40px;
    appearance: button;
    width: 100%;
}
.positions {
    font-size: 35px;
    line-height: 3em;
}
.positions img {
    margin-left: 40%;
    display: none;
}

.checked-position img {
    display: initial;
}

.filterposition {
    font-size: 40px;
    line-height: 3em;
}
.menu-txt a:hover, a:focus {
    text-decoration: none;
}
.menu-mark {
    margin-right: -10px;
}
.linkedInTextField {
    display: inline;
    border: 1px solid #eee;
    width: 100%;
    height: 80%;
    overflow: scroll;
}

.my-profile-box textarea {
    /*margin: 10px;*/
    padding: 10px;
    overflow: scroll;
    /*max-height: 300px;*/
    width: 100%;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
}
.capitalize {
    text-transform: capitalize;
}
.btn-expand-textarea {
    width: 100%;
    height: 80px;
    font-size: 40px;
}
.btn-my-page {
    width: 100%;
    height: 80px;
    font-size: 40px;
}
#charCounter {
    display: none;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.grid-icon {
    color: #D1A25F;
}

.reset-container {
    margin-top: 60%;
}
.reset-btn {
    width: 400px;
}
.help-block.error {
    color: #ad5151;
}